.footer {
    background-color: $secondary-color-light;
    color: #fff;
    padding-top: 1rem;
    padding-bottom: 1.5rem;

    h2, h3, h4 {
        color: #fff;
    }

    &__container {
        max-width: 70rem;
        margin-right: auto;
        margin-left: auto;
    }
}