*, *:after, *:before {
    box-sizing: border-box;
  }
  
  $device-sm: 30em;
  $device-md: 50em;
  $device-lg: 72em;
  $column-gutter: 1.4rem;
  
  .container {
    margin: 0 auto;
    padding: 0 $column-gutter;
    max-width: $device-lg;
  }
  
  .container:after, .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row {
    display: flex;
    flex-flow: row wrap;
    margin-right: -($column-gutter / 2);
    margin-left: -($column-gutter / 2);
  
    &.align-middle {
      align-items: center;
    }
  
    &.align-bottom {
      align-items: flex-end;
    }
  
    &.align-left {
      justify-content: flex-start;
    }
  
    &.align-center {
      justify-content: center;
    }
  
    &.align-right {
      justify-content: flex-end;
    }
  }
  
  [class*="col"] {
    width: 100%;
    padding: 0 ($column-gutter / 2);

    @media (max-width: #{$device-md}) {
      padding-bottom: 1rem;
    }
  }
  
  @mixin col-size($col) {
    flex-basis: 100% * $col / 12;
    max-width: 100% * $col / 12;
  }
  
  @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
    .col-xs-#{$col} {
      @include col-size($col);
    }
  }
  
  @media (min-width: #{$device-sm}) {
    html, body {
      font-size: 16px;
    }
  
    @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .col-sm-#{$col} {
        @include col-size($col);
      }
    }
  }
  
  @media (min-width: #{$device-md}) {
    html, body {
      font-size: 16px;
    }
  
    @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .col-md-#{$col} {
        @include col-size($col);
      }
    }
  }
  
  @media (min-width: #{$device-lg}) {
    @each $col in 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12 {
      .col-lg-#{$col} {}
    }
  }