.nav {
    transition: transform 130ms ease-in;

    &.js {
        position: fixed;
        width: 100%;
        background-color: inherit;
        left: 0;
        z-index: 1;
        
        @media (min-width: $device-md) {
            padding-right: $column-gutter;
            padding-left: $column-gutter;
        }
    }

    &.scrolled {
        -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
        box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    }

    &--smaller {
        transform: translateY(-4.5rem);
        will-change: transform;
        transition: transform 0 ease-out;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 1rem auto;
        display: flex;
        max-width: 70rem;
        transition: transform 130ms ease-in;

        &--smaller {
            transform: translateY(2.2rem);
            will-change: transform;
            transition: transform 50ms ease-out;
        }
    }

    &__item {
        padding: 0;
        margin: 0;
        align-self: center;
        margin-left: 2rem;
        font-size: 1.2rem;
        transition: transform 130ms ease-in;

        &--home {
            flex: 1;
            width: 8rem;
            margin-left: 0;
        }
    }

    &__link {
        text-decoration: none;
        color: $secondary-color;
        transition: transform 130ms ease-in;

        &:hover {
            color: $base-color;         
        }

        &:focus {
            outline: 3px solid $primary-highlight-color;
        }

        &--active {
            color: $base-color;
            font-weight: bold;
        }

        &--home {
            display: inline-block;
            overflow: inherit;

            &:hover {
                color: $secondary-color;
                font-weight: normal;
            }
            &:focus {
                outline: 3px solid $base-color;
            }
        }

        &--smaller {
            transform: scale(0.5) translateX(-4.8rem);
            will-change: transform;
            transition: transform 80ms ease-out;
        }
    }
}